nav {width:"100%";}

/* .background {  */
            /* background: url(./Assets/Motherboard\ Background.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: -9;
          } */

          body::after {
            content: "";
            background: url(./Assets/Motherboard\ Background.jpg);
            opacity: 0.7;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            background-size: cover;
            z-index: -1;   
          }

          img {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-top: 2cm;
            opacity: 90%;

          }

          footer {
            background-color: whitesmoke; opacity: 60%;

          }

          h1 {text-align: center;}

          .lead {text-align: center;}