          nav {width:"100%";}

          body::after {
            content: "";
            background: url(./Assets/Motherboard\ Background.jpg);
            opacity: 0.7;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            background-size: cover;
            z-index: -1;   
          }

          img {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-top: 2cm;
            opacity: 90%;

          }

          footer {
            background-color: whitesmoke; opacity: 60%;

          }

          h1, .lead, p {text-align: center;}

          .navbar-collapse.collapse.in {
            display: block!important;
          }

          .contactMe {
            background-color: rgb(255, 255, 255);
            padding: 1cm; width:auto;
            max-width: 20cm;
            margin-top: 2cm;}

          .jumboIndex, .jumboPortfolio {
            margin-top: 2cm; 
            padding: 1cm;
          }

          .linkedin {
            border: 0cm;
            margin-top: 0cm;
            float: right;
          }

          .github {
            width: 3.2cm;
            height: auto;
            margin-top: 0;
          }

          .linkedinlink {
            padding: .1cm;
          } 
          
          .githublink {
            padding: 0cm;
          }